<main class="admin-sistema-container text-white d-flex justify-content-center align-items-center min-vh-100">
    <div class="p-4 bg-dark bg-opacity-75 rounded-4 shadow-lg text-light text-center form-container mt-4 mb-4">

        <div class="text-start mb-3 ">
            <button class="btn btn-outline-light btn-back rounded-pill px-4"
                routerLink="/menu-admin-sistema/admins-sistema" routerLinkActive="active">
                <i class="bi bi-arrow-left-circle me-2"></i> Regresar
            </button>
        </div>

        <div class="text-center mb-5">
            <h2 class="fw-bold fs-2">
                <i class="bi bi-person-plus-fill me-2"></i> Crear Administrador de Sistema
            </h2>
        </div>

        <form [formGroup]="nuevoRegistroFormulario" (submit)="submit()" autocomplete="off" class="text-start">

            <div class="row g-3">

                <div class="col-sm-6">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Tu Nombre" name="nombre"
                        id="nombre" formControlName="nombre"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['nombre'].dirty && nuevoRegistroFormulario.controls['nombre'].invalid">

                    @if (nuevoRegistroFormulario.controls['nombre'].invalid &&
                    nuevoRegistroFormulario.controls['nombre'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un nombre valido
                        </div>
                    </div>
                    }
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Identificación / Pasaporte</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu identificación"
                        name="identificacion" id="identificacion" formControlName="identificacion"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['identificacion'].dirty && nuevoRegistroFormulario.controls['identificacion'].invalid">

                    @if (nuevoRegistroFormulario.controls['identificacion'].invalid &&
                    nuevoRegistroFormulario.controls['identificacion'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese una identificaion valida
                        </div>
                    </div>
                    }
                </div>

                <div class="col-12">
                    <label class="form-label">Identificador de usuario</label>
                    <input type="text" class="form-control form-control-lg" placeholder="nombre-00" name="id" id="id"
                        formControlName="id"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['id'].dirty && nuevoRegistroFormulario.controls['id'].invalid">

                    @if (nuevoRegistroFormulario.controls['id'].invalid &&
                    nuevoRegistroFormulario.controls['id'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un Identificador de usuario valido
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Ingresar contraseña"
                        name="password" id="password" formControlName="password"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['password'].dirty && nuevoRegistroFormulario.controls['password'].invalid">

                    @if (nuevoRegistroFormulario.controls['password'].invalid &&
                    nuevoRegistroFormulario.controls['password'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese una contraseña con 8 caracteres minimo
                        </div>
                    </div>
                    }

                </div>

                <div class="col-md-6">
                    <label class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control form-control-lg" name="confirmPassword"
                        id="confirmPassword" placeholder="Confirmar contraseña" formControlName="confirmPassword"
                        [class.is-invalid]="nuevoRegistroFormulario.get('confirmPassword')?.invalid &&
                          nuevoRegistroFormulario.get('confirmPassword')?.touched">


                    @if (nuevoRegistroFormulario.get('confirmPassword')?.touched) {
                    @if (nuevoRegistroFormulario.get('confirmPassword')?.hasError('required')) {
                    <div class="invalid-feedback d-block">
                        <div>Debe ingresar una contraseña</div>
                    </div>
                    }
                    @else if (nuevoRegistroFormulario.get('confirmPassword')?.hasError('minlength')) {
                    <div class="invalid-feedback d-block">
                        <div>Ingrese una contraseña con 5 caracteres mínimo</div>
                    </div>
                    }
                    @else if (nuevoRegistroFormulario.get('confirmPassword')?.hasError('mismatch')) {
                    <div class="invalid-feedback d-block">
                        <div>Las contraseñas no coinciden</div>
                    </div>
                    }
                    }

                </div>

                <div class="col-md-6">
                    <label class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control form-control-lg" name="correo" id="correo"
                        placeholder="tunombre@admin.com" formControlName="correo"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['correo'].dirty && nuevoRegistroFormulario.controls['correo'].invalid">

                    @if (nuevoRegistroFormulario.controls['correo'].invalid &&
                    nuevoRegistroFormulario.controls['correo'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un correo electronico valido con @admin.com
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Número de Teléfono</label>
                    <input type="tel" class="form-control form-control-lg" name="telefono" id="telefono"
                        placeholder="58630000" formControlName="telefono"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['telefono'].dirty && nuevoRegistroFormulario.controls['telefono'].invalid">

                    @if (nuevoRegistroFormulario.controls['telefono'].invalid &&
                    nuevoRegistroFormulario.controls['telefono'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un numero telefonico valido
                        </div>
                    </div>
                    }

                </div>

                <div class="col-md-6">
                    <label class="form-label">País de Procedencia</label>
                    <input type="text" class="form-control form-control-lg" name="pais" id="pais"
                        placeholder="Guatemala" formControlName="pais"
                        [class.is-invalid]="nuevoRegistroFormulario.controls['pais'].dirty && nuevoRegistroFormulario.controls['pais'].invalid">

                    @if (nuevoRegistroFormulario.controls['pais'].invalid &&
                    nuevoRegistroFormulario.controls['pais'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un pais valido
                        </div>
                    </div>
                    }

                </div>

                <div class="col-12">
                    <label class="form-label">Foto de Perfil</label>
                    <input class="form-control form-control-lg" type="file"
                        accept=".png, .jpg, .jpeg, image/png, image/jpeg" id="foto" name="foto"
                        (change)="onFileChange($event)">
                </div>

            </div>

            <hr class="my-4 border-secondary">

            <div class="d-flex justify-content-center gap-3 mt-4">
                <button type="button" class="btn btn-outline-light px-4 py-2 rounded-pill"
                    (click)="reiniciar()">Limpiar</button>
                <button type="submit" class="btn btn-gradient text-white px-4 py-2 rounded-pill fw-semibold"
                    [disabled]="nuevoRegistroFormulario.invalid">
                    <i class="bi bi-check-circle me-2"></i> Registrar Administrador
                </button>
            </div>

        </form>
    </div>
</main>

<app-fullscreen-modal [mensaje]="mensajeModal" [tipo]="tipoModal" [mostrar]="mostrarModal"
    (cerrarEvent)="mostrarModal = false">
</app-fullscreen-modal>

<ng-container *ngIf="mostrarPopup">
    <app-shared-popup [mensaje]="mensajePopup" [tipo]="tipoPopup" [mostrar]="mostrarPopup"
        (cerrarEvent)="mostrarPopup = false">
    </app-shared-popup>
</ng-container>