<header class="py-3 px-4 border-bottom bg-light shadow-sm">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <div class="d-flex align-items-center gap-2">
      <img src="icons-app/cinemaAppIcon.png" alt="Logo" width="45" height="45">
      <span class="fw-semibold fs-5 text-dark">CinemaApp</span>
    </div>

    <nav class="d-none d-md-flex align-items-center gap-4">
      <a class="text-dark text-decoration-none fw-semibold" routerLink="/menu-principal" routerLinkActive="active">Inicio</a>
      <a href="#" class="text-dark text-decoration-none fw-semibold">Salas Asistidas</a>
      <a href="#" class="text-dark text-decoration-none fw-semibold">Boletos Comprados</a>

    </nav>

    <div class="d-flex align-items-center gap-3">
      <form class="d-none d-lg-block" role="search">
        <input type="search" class="form-control form-control-sm rounded-pill px-3" placeholder="Buscar..."
          aria-label="Search">
      </form>

      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img [src]="fotoPerfilUrl" alt="profile" width="45" height="45" class="rounded-circle me-2" style="border: 2px solid black;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3">
          <li><a class="dropdown-item" routerLink="/menu-principal/perfil" routerLinkActive="active">Mi cuenta</a></li>
          <li><a class="dropdown-item" href="#">Billetera Digital</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item text-danger" (click)="onLogOutUsuario()">Cerrar sesión</button></li>
        </ul>
      </div>
    </div>

  </div>
</header>