<main class="mis-anuncios-page">

    <section class="mis-anuncios-container">
        <h1 class="titulo text-info"> <i class="bi bi-award me-2"></i> Billeteras Digitales pertenecientes</h1>
        <p class="descripcion mt-4 mb-3 ">Gestiona el saldo de las cuentas de los cines a los que perteneces</p>

        <div class="reportes-grid d-flex flex-column gap-4 align-items-center">
            @for (billetera of billeterasMostradas; track billetera.codigoCine) {

            <app-billetera-digital-card [billetera]="billetera"></app-billetera-digital-card>
            }
            @empty {
            <div class="text-center text-light mt-5">
                <h5>No tienes anuncios comprados</h5>
            </div>
            }
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-cargar-mas" (click)="mostrarMasAnuncios()" [disabled]="todosCargados">
                {{ todosCargados ? 'No hay más Anuncios' : 'Cargar más' }}
            </button>
        </div>

    </section>
</main>