<header class="p-3 text-bg-dark" id="inicio">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                </i>

            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="${pageContext.servletContext.contextPath}" class="nav-link px-2 text-secondary">Inicio</a>
                </li>
                <li><a href="#custom-cards" class="nav-link px-2 text-white">Estadisticas</a>
                </li>
                <li>
                    <a href="#hanging-icons" class="nav-link px-2 text-white">Acerca de</a>
                </li>
            </ul>

            <div class="text-end">
                <a href="#"
                    class="btn btn-outline-light me-2">Iniciar Sesion</a>

                <a href="#"
                    class="btn btn-warning">Registrarse</a>
            </div>
        </div>
    </div>
</header>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-warning-subtle">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Bienvenido a CinemaApp</h1>
        <h3 class="fw-normal text-muted mb-3">Crea y gestiona tu congreso de la mejor forma</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#hanging-icons">
                Leer mas
                <i class="bi" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">

    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block">

    </div>
</div>


<div class="container px-4 py-5 bg-dark" id="custom-cards">
    <h2 class="pb-2 border-bottom text-light">Nuestros Registros</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark bg-warning-subtle rounded-4 shadow-lg"
                style="background-image: url('https://img.freepik.com/fotos-premium/fondo-lujo-fondo-pantalla-oro-negro_685751-21.jpg');">

                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Asociados con mas de 1000 instituciones</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">

                            <small>Instituciones</small>
                        </li>
                        <li class="d-flex align-items-center">

                            <small>5 estrellas</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark bg-warning-subtle rounded-4 shadow-lg"
                style="background-image: url('https://img.freepik.com/fotos-premium/grupo-personas-pie-frente-fondo-puesta-sol_1103909-14601.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Usuarios Satisfechos con el servicio</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">
                            <small>Usuarios</small>
                        </li>
                        <li class="d-flex align-items-center">

                            <small>5 estrellas</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark bg-warning-subtle rounded-4 shadow-lg"
                style="background-image: url('https://i.pinimg.com/736x/b7/5e/10/b75e10d1018ef412131c961c6f710196.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Mas de 10000 Congresos Realizados</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="d-flex align-items-center me-3">

                            <small>Congresos</small>
                        </li>
                        <li class="d-flex align-items-center">

                            <small>5 estrellas</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<section class="container px-4 py-5 bg-dark bg-gradient text-white" id="hanging-icons">

    <h2 class="pb-2 border-bottom text-light">Nuestro Compromiso con el Cliente</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-bank" width="1em" height="1em" aria-hidden="true">

                </i>
            </div>
            <div>
                <h3 class="fs-2 text-info">Pagos Seguros</h3>
                <p>Estamos comprometidos con el usuario para proteger la integridad de los pagos realizados. Estos son
                    cifrados dentro de nuestro sistema</p>

            </div>
        </div>
        <div class="col d-flex align-items-start">

            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-search" width="1em" height="1em" aria-hidden="true">
                </i>
            </div>
            <div>
                <h3 class="fs-2 text-info">Gestion eficiente</h3>
                <p>Estamos comprometidos con las instituciones para poder organizar Congresos de forma practica y
                    accesible para todos los usuarios que cuenten con un registro en el sistema</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-person-circle" width="1em" height="1em" aria-hidden="true">

                </i>
            </div>
            <div>
                <h3 class="fs-2 text-info">Personal Capacitado</h3>
                <p>Contamos con personal Capacitado para la gestion de su congreso y atencion al cliente en todo momento
                    para cualquier inconveniente que se tenga</p>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#inicio" class="nav-link px-2 text-body-secondary">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#custom-cards" class="nav-link px-2 text-body-secondary">Estadisticas</a>
            </li>
            <li class="nav-item">
                <a href="#hanging-icons" class="nav-link px-2 text-body-secondary">Acerca de</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 CongressApp, Inc</p>
    </footer>
</div>