<main class="reportes-container mx-auto p-2">
    <div class="bg-dark bg-opacity-75 rounded-4 shadow-lg text-light p-4">
        <h2 class="fw-bold mb-5 text-center fs-3 text-warning">Reporte de 5 Salas mas Gustadas </h2>

         <div class="filtros-container d-flex flex-wrap align-items-center justify-content-center gap-3 mb-3">

            <div class="px-3">
                <label for="fecha" class="form-label fw-semibold">Fecha Inicio:</label>
                <input type="date" id="fechainicio" class="form-control rounded-pill px-3 py-2 border-0 shadow-sm" />
            </div>

            <div class="px-3">
                <label for="fecha" class="form-label fw-semibold">Fecha Fin:</label>
                <input type="date" id="fechainicio" class="form-control rounded-pill px-3 py-2 border-0 shadow-sm" />
            </div>

            <div class="text-center mt-md-4">
                <button class="btn btn-filtros rounded-pill px-4 py-2 fw-semibold">
                    <i class="bi bi-funnel-fill me-2"></i>Filtrar
                </button>
            </div>
        </div>

        <div class="text-center mt-4 mb-4">
            <button class="btn btn-exportar" (click)="exportarReporte()">
                Exportar Reporte
            </button>
        </div>


        <div class="reportes-grid d-flex flex-column justify-content-center align-items-center gap-4">
            @for (salas of reportesMostrados; track salas.codigo) {
            <app-salas-gustadas-cards [salasGustadas]="salas"></app-salas-gustadas-cards>
            }
            @empty {
            <div class="text-center text-light mt-5">
                <h5>No hay reportes de las 5 salas mas gustadas</h5>
            </div>
            }
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-cargar-mas" (click)="cargarMasReportes()" [disabled]="todosCargados">
                {{ todosCargados ? 'No hay más Sala' : 'Cargar más' }}
            </button>
        </div>
    </div>
</main>
