<main class="mx-auto admin-sistema-container">

    <div class="p-4 bg-dark bg-opacity-75 rounded-4 shadow-lg text-light text-center">

        <div class="text-start mb-3">
            <button class="btn btn-outline-light rounded-pill px-4 py-1 fw-bold" (click)="regresar()">
                <i class="bi bi-arrow-left"></i> Regresar
            </button>
        </div>


        <div class="d-flex justify-content-between flex-column align-items-center mb-5">
            <h2 class="fw-bold fs-2 mb-2 text-warning"><i class="bi bi-badge-ad-fill me-2"></i>Tipos de anuncios de
                CinemaApp</h2>
        </div>

        <div class="d-flex flex-column justify-content-center gap-4 mt-4 admin-cards-container align-items-center">

            @for (vigencias of vigenciasAnuncios; track vigencias.codigo) {
            <app-configurar-vigencias-cards [vigencia]="vigencias"></app-configurar-vigencias-cards>
            }

            @empty {
            <div class="text-center text-light mt-5">
                <h5>No hay configuraciones registradas</h5>
            </div>
            }

        </div>

    </div>
</main>

<ng-container *ngIf="mostrarPopup">
    <app-shared-popup [mensaje]="mensajePopup" [tipo]="tipoPopup" [mostrar]="mostrarPopup"
        (cerrarEvent)="mostrarPopup = false">
    </app-shared-popup>
</ng-container>