.admin-sistema-container {
  max-width: 1000px;
  margin-top: 50px;
}

.admin-sistema-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, rgba(95, 63, 3, 0.678), rgba(2, 124, 114, 0.842));
}

.text-light-50 {
  color: rgba(255, 255, 255, 0.6);
}

.admin-cards-container {
  min-height: 200px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn-warning {
  background-color: #7903a8;
  color: #ebecee;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background: linear-gradient(120deg, rgba(216, 127, 11, 0.678), rgba(3, 87, 112, 0.842));
  box-shadow: 0 0 10px rgba(184, 35, 243, 0.555);
}

.btn-back {
  font-weight: 500;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, rgba(107, 8, 153, 0.1), rgba(107, 8, 153, 0.25));
  box-shadow: 0 0 10px rgba(107, 8, 153, 0.3);
}

.btn-back:hover {
  color: #ffc107;
  border-color: #ffc107;
  background: linear-gradient(135deg, rgba(9, 172, 194, 0.726), rgba(107, 8, 153, 0.5));
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(255, 193, 7, 0.4);
}

.btn-warning:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .admin-sistema-container {
    padding: 0 10px;
  }

  .admin-sistema-container>div {
    text-align: center;
  }

  .d-flex.justify-content-between {
    flex-direction: column;
    gap: 10px;
  }

  .btn-warning {
    width: 100%;
  }
}

.btn-load-more {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1rem;
  background: transparent;
  backdrop-filter: blur(3px);

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.btn-load-more:hover:not(:disabled) {
  background-color: rgba(180, 111, 6, 0.658);
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
}

.btn-load-more:not(:disabled) {
  cursor: pointer;
}

.btn-load-more:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color: rgba(255, 255, 255, 0.3);
  transform: none;
  box-shadow: none;
}