.anuncio-card {
  position: relative;
  background: linear-gradient(145deg, #2e1f26, #5c483a);
  border-radius: 16px;
  padding: 1.5rem;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 450px; 
  width: 100%; 
  margin: 0 auto;
}

.anuncio-img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.texto-anuncio {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 12px;
  padding: 1rem 1.2rem;
  margin: 1rem 0;
  color: #f0f0f0;
  font-size: 1rem;
  text-align: justify;
  max-height: 150px; 
  overflow-y: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.texto-anuncio::-webkit-scrollbar {
  width: 6px;
}

.texto-anuncio::-webkit-scrollbar-thumb {
  background: rgba(249, 212, 35, 0.7);
  border-radius: 3px;
}

.texto-anuncio::-webkit-scrollbar-track {
  background: transparent;
}

.texto-anuncio:hover {
  background: rgba(255, 255, 255, 0.15);
}

.texto-anuncio p {
  margin: 0;
}

.estado {
  margin-top: 0.5rem;
}

.accion {
  margin-top: 1rem;
}

.anuncio-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255,255,255,0.05), rgba(0,0,0,0.1));
  z-index: 0;
  border-radius: 16px;
}

.btn-estado {
  color: #1f1f2e;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-danger {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-danger:hover {
  background: #c0392b;
}

.btn-success {
  background: #2ecc71;
  color: #1f1f2e;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-success:hover {
  background: #27ae60;
}


.img-container {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 12px;
}

.btn-estado:hover {
  background: #f39c12;
  color: #fff;
}

.anuncio-img:hover {
  transform: scale(1.05);
}

.info-fechas p {
  margin: 0.2rem 0;
}

.anuncio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.6);
}

.contenido {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}
