<div
    class="anuncio-card text-light mt-4 rounded-4 shadow-lg p-3 bg-gradient overflow-hidden justify-content-center align-items-center">

    <div class="anuncio-bg"></div>

    <div class="contenido text-center align-items-center">
        <h5 class="fw-bold mb-3 fs-4">{{ anuncio.nombre }}</h5>

        <ng-container *ngIf="esImagen(); else videoBlock">
            <div *ngIf="getImagenBase64()" class="img-container mb-3">
                <img [src]="getImagenBase64()" alt="{{ anuncio.nombre }}" class="anuncio-img rounded" />
            </div>
        </ng-container>

        <ng-template #videoBlock>
            <iframe *ngIf="esVideo() && anuncio.url" [src]="getVideoUrl()" width="100%" height="180"
                class="rounded mb-2" frameborder="0" allowfullscreen>
            </iframe>

        </ng-template>

        <p class="text-light-50 mt-2">
            <i class="bi bi-play fs-5"></i> {{ anuncio.codigo }}
        </p>

        <p class="text-light-50 mb-1 mb-4 fs-5">
            {{ anuncio.texto }}
        </p>

        <p class="text-light-50 mb-1 fs-5">
            <i class="bi bi-calendar-check me-2"></i>Compra: {{ anuncio.fechaCompra | date:'mediumDate' }}
        </p>
        <p class="text-light-50 mb-1 fs-5">
            <i class="bi bi-calendar-x me-2"></i>Expiracion: {{ anuncio.fechaExpiracion | date:'mediumDate' }}
        </p>
        <p class="text-light-50 mb-1 fs-5">
            <i class="bi bi-person-fill me-2"></i>Usuario: {{ anuncio.idUsuario }}
        </p>

        <p class="text-light-50 mb-1 fs-5">
            <i class="bi bi-person-fill me-2"></i>Nombre: {{ anuncio.nombreUsuario }}
        </p>
        <p class="fw-semibold text-warning mb-2 fs-4">
            {{ getTipoAnuncio(anuncio.codigoTipo) }}
        </p>

        <div class="estado mt-2 fs-5 ">
            <span class="badge rounded-pill" [ngClass]="anuncio.estado ? 'bg-success' : 'bg-danger'">
                {{ anuncio.estado ? 'Activo' : 'Inactivo' }}
            </span>
        </div>


    </div>
</div>