<main class="mis-anuncios-page">

    <section class="mis-anuncios-container">
        <h1 class="titulo"> <i class="bi bi-badge-ad me-2"></i> Anuncios Comprados</h1>
        <p class="descripcion mt-4 mb-3 ">Aquí podrás visualizar todos los anuncios que has adquirido</p>

        <div class="reportes-grid d-flex flex-column gap-4">
            @for (anuncio of anunciosMostrados; track anuncio.codigo) {

            <app-anuncios-comprados-anunciante-cards
                [anuncioComprado]="anuncio"></app-anuncios-comprados-anunciante-cards>
            }
            @empty {
            <div class="text-center text-light mt-5">
                <h5>No hay anuncios registrados</h5>
            </div>
            }
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-cargar-mas" (click)="cargarMasAnuncios()" [disabled]="todosCargados">
                {{ todosCargados ? 'No hay más Anuncios' : 'Cargar más' }}
            </button>
        </div>

    </section>
</main>