<main class="mis-anuncios-page">

    <section class="mis-anuncios-container">
        <h1 class="titulo"> <i class="bi bi-badge-ad me-2"></i> Anuncios Comprados</h1>
        <p class="descripcion mt-4 mb-3 ">Aquí podrás visualizar todos los anuncios que has adquirido</p>

        <div class="reportes-grid d-flex flex-column gap-4">
            @for (anuncio of anunciosMostrados; track anuncio.codigo) {

            <app-anuncios-comprados-anunciante-cards
                [anuncio]="anuncio" [idUsuario]="idUsuario"></app-anuncios-comprados-anunciante-cards>
            }
            @empty {
            <div class="text-center text-light mt-5">
                <h5>No tienes anuncios comprados</h5>
            </div>
            }
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-cargar-mas" (click)="mostrarMasAnuncios()" [disabled]="todosCargados">
                {{ todosCargados ? 'No hay más Anuncios' : 'Cargar más' }}
            </button>
        </div>

    </section>
</main>

<ng-container *ngIf="mostrarPopup">
    <app-shared-popup [mensaje]="mensajePopup" [tipo]="tipoPopup" [mostrar]="mostrarPopup"
        (cerrarEvent)="mostrarPopup = false">
    </app-shared-popup>
</ng-container>

<app-confirm-modal></app-confirm-modal>