<main class="mx-auto bienvenida-container d-flex justify-content-center align-items-center">
    <div class="bienvenida-card bg-dark bg-opacity-75 text-light text-center p-5 rounded-4 shadow-lg">

        <div class="card-icon mb-4">
            <i class="bi bi-megaphone-fill fs-1 text-warning"></i>
        </div>


        <h2 class="fw-bold mb-3 fs-2">¡Bienvenido, estimado anunciante!</h2>
        <p class="text-light-50 mb-3">
            Gracias por confiar en nuestros servicios. Estamos encantados de contar contigo en nuestra plataforma.
        </p>
        <p class="text-light-50 mb-4">
            Consulta los anuncios que tienes asociados a nuestra web de forma rápida y sencilla.
        </p>
        <button class="btn btn-outline-warning rounded-pill px-5 py-2 fw-semibold"
            routerLink="/menu-anunciante/anuncios/comprados/{{idUsuario}}" routerLinkActive="active">
            Consultar Anuncios
        </button>


    </div>

</main>