<div class="cine-card shadow-lg bg-dark bg-opacity-75 text-light rounded-4 p-4 mb-4">

  <h4 class="fw-bold mb-2">
    <i class="bi bi-building me-2"></i> {{ cine.nombre }}
  </h4>

  <p class="mb-1 text-warning">
    <i class="bi bi-hash"></i> Código: {{ cine.codigo }}
  </p>

  <p class="mb-1">
    <i class="bi" [ngClass]="cine.estadoAnuncio ? 'bi-eye-fill text-success' : 'bi-eye-slash-fill text-danger'"></i>
    Estado anuncios:
    <span [ngClass]="cine.estadoAnuncio ? 'text-success' : 'text-danger'">
      {{ cine.estadoAnuncio ? 'Visible' : 'Oculto' }}
    </span>
  </p>

  <p class="mb-1">
    <i class="bi bi-cash-stack text-info"></i> Monto ocultación:
    Q{{ cine.montoOcultacion | number:'1.2-2' }}
  </p>

  <p class="mb-1">
    <i class="bi bi-calendar-event text-primary"></i> Creado el: {{ cine.fechaCreacion | date:'dd/MM/yyyy' }}
  </p>

  <p class="mb-3">
    <i class="bi bi-geo-alt-fill text-danger"></i> {{ cine.ubicacion }}
  </p>

  <p class="mb-1 text-warning">
    <i class="bi bi-cash-stack text-success"></i> Costo de cine:
    Q{{ cine.costoCine | number:'1.2-2' }}
  </p>

  <p class="small text-secondary fst-italic border-top border-secondary pt-3">
    {{ cine.descripcion }}
  </p>



  <div class="card-actions mt-4 d-flex justify-content-between">

    <button class="btn btn-outline-warning btn-sm rounded-pill px-3 mx-4" routerLink="cines/editar/{{cine.codigo}}" routerLinkActive="active">
      <i class="bi bi-pencil-square me-1"></i> Editar
    </button>

    <button class="btn btn-outline-info btn-sm rounded-pill px-3 mx-1" routerLink="/menu-admin-sistema/cines/costos/{{cine.codigo}}" routerLinkActive="active">
      <i class="bi bi-cash-coin me-1"></i> Cambiar Costo
    </button>
    
  </div>

</div>