<main class="d-flex justify-content-center align-items-center min-vh-100 py-5">
    <div class="form-container p-4 rounded shadow-lg animate-fadeIn">

        <div class="col-12">
            <a routerLink="/" routerLinkActive="active">
                <img class="mb-4 d-block mx-auto" src="icons-app/cinemaAppIcon.png" alt="" width="100" height="100">
            </a>
            <h4 class="mb-3 text-center fw-bold fs-3">Registrate en CinemaApp</h4>

            <app-form-registro></app-form-registro>


            <p class="text-body-black text-center fw-bold">¿Ya tienes una Cuenta? <a class="text-warning fw-bold" routerLink="/login"
                    routerLinkActive="active">Iniciar Sesion</a> </p>

            <hr class="my-4">
            <p class="mt-5 mb-3 text-body-secondary text-center">© CinemaApp 2025–2026</p>
        </div>
    </div>
</main>