<main class="admin-sistema-container text-white d-flex justify-content-center align-items-center min-vh-100">
    <div class="p-4 bg-dark bg-opacity-75 rounded-4 shadow-lg text-light text-center form-container mt-4 mb-4">

        <div class="text-start mb-3 ">
            <button class="btn btn-outline-light btn-back rounded-pill px-4"
                routerLink="/menu-admin-sistema/admins-cine" routerLinkActive="active">
                <i class="bi bi-arrow-left-circle me-2"></i> Regresar
            </button>
        </div>

        <div class="text-center mb-5">
            <h2 class="fw-bold fs-2 text-warning">
                <i class="bi bi-person-plus-fill me-2"></i> Crear Administrador de Cine
            </h2>
        </div>

        <form [formGroup]="nuevoRegistroForm" (submit)="submit()" autocomplete="off" class="text-start">

            <div class="row g-3">

                <div class="col-sm-6">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Tu Nombre" name="nombre"
                        id="nombre" formControlName="nombre"
                        [class.is-invalid]="nuevoRegistroForm.controls['nombre'].dirty && nuevoRegistroForm.controls['nombre'].invalid">

                    @if (nuevoRegistroForm.controls['nombre'].invalid &&
                    nuevoRegistroForm.controls['nombre'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un nombre valido
                        </div>
                    </div>
                    }
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Identificación / Pasaporte</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu identificación"
                        name="identificacion" id="identificacion" formControlName="identificacion"
                        [class.is-invalid]="nuevoRegistroForm.controls['identificacion'].dirty && nuevoRegistroForm.controls['identificacion'].invalid">

                    @if (nuevoRegistroForm.controls['identificacion'].invalid &&
                    nuevoRegistroForm.controls['identificacion'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese una identificaion valida
                        </div>
                    </div>
                    }
                </div>

                <div class="col-12">
                    <label class="form-label">Identificador de usuario</label>
                    <input type="text" class="form-control form-control-lg" placeholder="nombre-00" name="id" id="id"
                        formControlName="id"
                        [class.is-invalid]="nuevoRegistroForm.controls['id'].dirty && nuevoRegistroForm.controls['id'].invalid">

                    @if (nuevoRegistroForm.controls['id'].invalid &&
                    nuevoRegistroForm.controls['id'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un Identificador de usuario valido
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control form-control-lg" placeholder="Ingresar contraseña"
                        name="password" id="password" formControlName="password"
                        [class.is-invalid]="nuevoRegistroForm.controls['password'].dirty && nuevoRegistroForm.controls['password'].invalid">

                    @if (nuevoRegistroForm.controls['password'].invalid &&
                    nuevoRegistroForm.controls['password'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese una contraseña con 5 caracteres minimo
                        </div>
                    </div>
                    }

                </div>

                <div class="col-md-6">
                    <label class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control form-control-lg" name="confirmpassword"
                        id="confirmpassword" placeholder="Confirmar contraseña" formControlName="confirmpassword"
                        [class.is-invalid]="nuevoRegistroForm.controls['confirmpassword'].dirty && nuevoRegistroForm.controls['confirmpassword'].invalid">

                    @if (nuevoRegistroForm.controls['confirmpassword'].invalid &&
                    nuevoRegistroForm.controls['confirmpassword'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese una contraseña con 5 caracteres minimo
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control form-control-lg" name="correo" id="correo"
                        placeholder="tunombre@admin.com" formControlName="correo"
                        [class.is-invalid]="nuevoRegistroForm.controls['correo'].dirty && nuevoRegistroForm.controls['correo'].invalid">

                    @if (nuevoRegistroForm.controls['correo'].invalid &&
                    nuevoRegistroForm.controls['correo'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un correo electronico valido con @cinema.com
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Número de Teléfono</label>
                    <input type="tel" class="form-control form-control-lg" name="telefono" id="telefono"
                        placeholder="58630000" formControlName="telefono"
                        [class.is-invalid]="nuevoRegistroForm.controls['telefono'].dirty && nuevoRegistroForm.controls['telefono'].invalid">

                    @if (nuevoRegistroForm.controls['telefono'].invalid &&
                    nuevoRegistroForm.controls['telefono'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un numero telefonico valido
                        </div>
                    </div>
                    }

                </div>

                <div class="col-md-6">
                    <label class="form-label">País de Procedencia</label>
                    <input type="text" class="form-control form-control-lg" name="pais" id="pais"
                        placeholder="Guatemala" formControlName="pais"
                        [class.is-invalid]="nuevoRegistroForm.controls['pais'].dirty && nuevoRegistroForm.controls['pais'].invalid">

                    @if (nuevoRegistroForm.controls['pais'].invalid &&
                    nuevoRegistroForm.controls['pais'].touched) {
                    <div class="invalid-feedback">
                        <div>
                            Ingrese un pais valido
                        </div>
                    </div>
                    }

                </div>

                <div class="col-12">
                    <label class="form-label">Foto de Perfil</label>
                    <input class="form-control form-control-lg" type="file"
                        accept=".png, .jpg, .jpeg, image/png, image/jpeg" id="foto" name="foto"
                        (change)="seleccionHecha($event)">
                </div>

            </div>

            <hr class="my-4 border-secondary">


            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <h5 class="text-warning">Cines Disponibles</h5>
                    <div class="d-flex flex-wrap gap-3 justify-content-center mt-3">
                        <div *ngFor="let cine of cinesDisponibles" class="card bg-dark text-light p-3 selectable-card"
                            [class.selected]="estaSeleccionado(cine)" (click)="toggleSeleccion(cine)"
                            style="width: 12rem; cursor: pointer;">
                            <h6 class="text-warning">{{ cine.nombre }}</h6>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button class="btn btn-outline-success btn-sm" (click)="cargarMasCines()"
                            [disabled]="todosCargados">
                            <i class="bi bi-plus-circle"></i> Cargar más
                        </button>

                        <div *ngIf="todosCargados" class="mt-2 text-secondary small">
                            <i class="bi bi-check-circle"></i> Todos los cines han sido cargados
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <h5 class="text-warning">Cines Asignados</h5>
                    <div class="d-flex flex-wrap gap-3 justify-content-center mt-3">
                        <div *ngFor="let cine of cinesSeleccionados"
                            class="card bg-secondary bg-opacity-50 text-light p-3" style="width: 12rem;">
                            <h6>{{ cine.nombre }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-danger text-center mt-2" *ngIf="nuevoRegistroForm.get('codigosCine')?.hasError('sinCines') 
            && nuevoRegistroForm.get('codigosCine')?.touched">
                Debes asignar al menos un cine al administrador.
            </div>

            <hr class="my-4 border-secondary">

            <div class="d-flex justify-content-center gap-3 mt-4">
                <button type="button" class="btn btn-outline-light px-4 py-2 rounded-pill"
                    (click)="reiniciar()">Limpiar</button>
                <button type="submit" class="btn btn-gradient text-black px-4 py-2 rounded-pill fw-semibold"
                    [disabled]="nuevoRegistroForm.invalid">
                    <i class="bi bi-check-circle me-2"></i> Registrar Administrador
                </button>
            </div>

        </form>
    </div>
</main>

<ng-container *ngIf="mostrarPopup">
    <app-shared-popup [mensaje]="mensajePopup" [tipo]="tipoPopup" [mostrar]="mostrarPopup"
        (cerrarEvent)="mostrarPopup = false">
    </app-shared-popup>
</ng-container>

<app-fullscreen-modal [mensaje]="mensajeModal" [tipo]="tipoModal" [mostrar]="mostrarModal"
    [redireccionarA]="urlRedireccion" (cerrarEvent)="mostrarModal = false">
</app-fullscreen-modal>
