<main class="crear-anuncio-page-3col ">

    <section class="side-card">
        <h2 class="titulo">Tarifas disponibles</h2>

        <!--@for (tarifa of tarifas; track $index) {
      <div class="mini-card">
     
        <p>{{ tarifa.nombre }}</p>
      </div>
    }
-->

    </section>

    <section class="crear-anuncio-card">

        <h2 class="titulo">Comprar Anuncio</h2>

        <form [formGroup]="anuncioForm" (ngSubmit)="submit()" class="formulario-anuncio">

            <div class="form-group">
                <label>Nombre del Anuncio</label>
                <input type="text" formControlName="nombre" placeholder="Ingrese el nombre de su anuncio" />

                @if (anuncioForm.get('nombre')?.invalid && anuncioForm.get('nombre')?.touched) {
                <p class="error-msg">El nombre es obligatorio.</p>
                }
            </div>

            <div class="form-group">
                <label>Tipo de Anuncio</label>
                <select formControlName="codigoTipo">
                    <option *ngFor="let tipo of tiposAnuncio" [value]="tipo.codigo">
                        {{ tipo.label }}
                    </option>
                </select>

                @if (anuncioForm.get('codigoTipo')?.invalid && anuncioForm.get('codigoTipo')?.touched) {
                <p class="error-msg">Debes seleccionar un tipo de anuncio.</p>
                }
            </div>


            <div class="form-group">
                <label>Texto del Anuncio</label>
                <textarea formControlName="texto" placeholder="Ingrese texto..."></textarea>

                @if (anuncioForm.get('texto')?.invalid && anuncioForm.get('texto')?.touched) {
                <p class="error-msg">El texto no puede estar vacío.</p>
                }
            </div>


            <div class="form-group">
                <label>Subir Imagen (solo tipo 2)</label>
                <input type="file" (change)="onFileSelected($event)" />
            </div>

            <div class="form-group">
                <label>URL del Video</label>
                <input type="url" formControlName="url" placeholder="Ingrese URL..." />
            </div>

            <div class="form-group">
                <label>Fecha de Expiración</label>
                <input type="date" formControlName="fechaExpiracion" />

                @if (anuncioForm.get('fechaExpiracion')?.invalid && anuncioForm.get('fechaExpiracion')?.touched) {
                <p class="error-msg">Selecciona una fecha válida.</p>
                }
            </div>



            <div class="form-actions">

                <button type="button" (click)="limpiar()" class="btn-limpiar mx-4">
                    Limpiar
                </button>

                <button type="submit" [disabled]="anuncioForm.invalid">Comprar Anuncio</button>
            </div>

        </form>

    </section>

    <section class="side-card">
        <h2 class="titulo">Tipos de anuncios disponibles</h2>

        @for (tipo of tiposAnuncio; track $index) {
        <div class="mini-card">
            <p>{{ tipo.label }}</p>
        </div>
        }
    </section>


    @if (mostrarSegundoFormulario) {
    <section class="crear-anuncio-card mt-4 anim-subform subform-centrado">
        <h3 class="fw-bold">Detalles del Pago</h3>

        <form [formGroup]="pagoForm" (ngSubmit)="confirmarPago()">

            <div class="form-group">
                <label>Método de pago</label>
                <select formControlName="metodo">
                    <option value="TARJETA">Tarjeta</option>
                    <option value="PAYPAL">PayPal</option>
                    <option value="TRANSFERENCIA">Transferencia</option>
                </select>
            </div>

            <div class="form-group">
                <label>Monto total</label>
                <input type="text" formControlName="monto" readonly />
            </div>

            <button type="submit" class="btn-pagar">Confirmar Pago</button>

        </form>
    </section>
    }



</main>

<ng-container *ngIf="mostrarPopup">
    <app-shared-popup [mensaje]="mensajePopup" [tipo]="tipoPopup" [mostrar]="mostrarPopup"
        (cerrarEvent)="mostrarPopup = false">
    </app-shared-popup>
</ng-container>