<main class="d-flex justify-content-center align-items-start min-vh-100 py-5">
  <div class="form-signin bg-info bg-gradient p-4 rounded shadow mx-auto" style="max-width: 600px;">

<div class="col-12">
  <a routerLink="/" routerLinkActive="active">
    <img class="mb-4 d-block mx-auto" src="icons-app/cinemaAppIcon.png" alt="logo" width="100" height="100">
  </a>

  <h4 class="mb-3 text-center fw-bold fs-3">Reestablecer Contraseña</h4>

  <app-reestablecer-credenciales></app-reestablecer-credenciales>-

  <p class="text-body-black text-center">
    ¿Recordaste tu contraseña?
    <a class="text-success" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
  </p>

  <hr class="my-4">
  <p class="mt-5 mb-3 text-body-secondary text-center">© CinemaApp 2025–2026</p>
</div>


  </div>
</main>

